/* general */

html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}

p {
    margin: 0px;
}

ul {
    list-style: none;
}


/* encabezados */

h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0px;
}

h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 5em;
    text-align: center;
    color: white;
    text-shadow: #020819 8px -20px 9px;
    text-transform: uppercase;
    line-height: 4em;
    margin: 0px;
}

h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}

h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
}

h5 {
    font-size: 1.2em;
    line-height: 1em;
}


/* nav */

.nav-bar {
    background-color: rgb(25, 33, 41);
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

.nav-bar a {
    font-size: 2em;
    font-size: 700;
    color: white;
    text-decoration: none;
}


/* header */

.header {
    height: 650px;
    background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote {
    font-size: 2.5em;
}

.quote p {
    margin: 0px;
}


/* sections */

.dark-background {
    color: white;
    background-color: rgb(25, 33, 41);
}

#general-information {
    text-align: center;
    display: flex;
    justify-content: center;
}

#general-information article {
    width: 320px;
    padding: 80px 30px;
}

#general-information .text {
    font-size: 2em;
    font-weight: 100;
    margin: 15px 0px 50px 0px;
}

#general-information .link-btn {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2em;
    letter-spacing: 0.5px;
    color: white;
    text-decoration: none;
    background-color: rgb(67, 163, 230);
    padding: 20px 50px;
}

#structure h3 {
    margin-top: 80px;
}

#structure #structure-box {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#structure .service-box {
    font-size: 1.7em;
    text-align: center;
    border: 1px solid #e7e7e7;
    border-radius: 20px 20px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
    width: 340px;
    padding: 25px 60px;
    margin: 50px 90px;
}

#structure .service-box img {
    width: 125px;
}

#structure .service-box p {
    line-height: 1.8em;
    margin-top: 10px;
}

#team .section-text {
    font-size: 1.9em;
    text-align: center;
}

#team .member-name {
    font-size: 1.5em;
    font-weight: 700;
}

#team img {
    width: 250px;
    height: 180px;
}


/* footer */

.address {
    font-size: 0.8em;
    font-style: normal;
}

.footer a {
    color: rgb(67, 163, 230);
    text-decoration: none;
}


